.side-upload-div {
  height: 100%;
}
.side-upload-div span {
  display: inline-block;
  padding: 5px;
}

.seperator {
  background-color: black;
  height: 1px;
  opacity: 0.5;
  margin: 5px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.right {
  float: right;
}

.left {
  float: left;
}

#upload_button:hover {
  background-color: #747681; /* Green */
}
#upload_button:c {
  background-color: #747681; /* Green */
}
.button,
#upload_button,
#back_button {
  cursor: pointer;
  display: none;
  background-color: #413872; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.loader {
  border: 6px solid #000000; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  vertical-align: middle;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#corrolated_feature_select {
  max-width: 80%;
}
.hide {
  display: none;
}
